@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ECECEC;
}

header {
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #fff;
    padding: 5% 0px 0px 20%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 64px;
    margin: -105px 20% 5% 20%;

}

.form input {
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #d6d6d673;
}

.form label {
    margin: 0 0 10px 0;
    color:#4E4958;
}

#botao {
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1% 5% 1% 5%;
    background-color: #DB1B1B;
    border-color: transparent;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: #32264D;
}

hr {

    border: none;
    height: 2px;
    background-color: #E6E6F0;
    width: 100%;
    margin: 0 0 30px 0;
}

#historia {
    padding-bottom: 100px;
    border: solid 1px #d6d6d673;
    border-radius: 5px;
}